:root {
  --container-width: 66.25rem;
}
.insight-content-wrap {
  width: 66.25rem;
}
.insight-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.insight-contents .insight-contents-container {
  text-align: center;
  width: var(--container-width);
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
}
