/* 비민번호 입력 컴포넌트를 재사용하다 보니 이벤트리스너를 등록할 때 display 값이 겹쳐서 
클래스명을 다르게하고 스타일도 나눠 놓았음 */
.pw-change-modal-wrap {
  display: none;
  position: absolute;
  top: 21.8rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1.25rem;
  width: 25rem;
  height: 20.313rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
.pw-change-modal-wrap .pw-modal-container {
  position: relative;
}
.pw-change-modal-wrap .pw-modal-container .pw-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.969rem;
  font-size: 1rem;
  font-weight: bold;
}
.pw-change-modal-wrap .pw-modal-container #pwModalCloseBtn {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}
.pw-change-modal-wrap .pw-modal-container .pw-form {
  margin-top: 2.188rem;
  margin-bottom: 1.5rem;
}
.pw-change-modal-wrap .pw-modal-container .pw-form label {
  display: block;
  font-size: 0.875rem;
  color: #767676;
}
.pw-change-modal-wrap .pw-modal-container .pw-form #pwInputBox {
  margin-top: 0.625rem;
  padding: 0 0.625rem;
  width: 100%;
  height: 3.125rem;
  border: 1px solid #e1e2e3;
  border-radius: 0.313rem;
}
.pw-change-modal-wrap .pw-modal-container .pw-form #pwInputBox::placeholder {
  font-size: 0.938rem;
  color: #767676;
}
.pw-change-modal-wrap .pw-modal-container .pw-form .login-btn-box {
  height: 3.375rem;
  margin-top: 2.313rem;
  background-color: #36f;
  border-radius: 1.688rem;
}
.pw-change-modal-wrap .pw-modal-container .pw-form .login-btn-box #loginBtn {
  text-align: center;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  font-weight: bold;
  color: #fff;
}
.pw-change-modal-wrap .pw-modal-container .pw-reset-btn-box {
  text-align: center;
}
.pw-change-modal-wrap .pw-modal-container .pw-reset-btn-box #resetBtn {
  font-size: 0.875rem;
  color: #36f;
}
.reset-pw-desc {
  text-align: center;
  font-size: 0.75rem;
  color: #999;
}
